.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    .loginWrapper {
        width: 40%;
        min-width: 400px;
        min-height: 60%;
        background-color: rgb(243, 243, 243);
        box-shadow: 4px 4px 10px 2px rgba(0,0,0, 0.2);
        border-radius: 20px;
        padding: 10px;
        .loginTitle {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;
        }
    }
}

.formItemLogin {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    label {
        min-width: 100px;
        flex: 1;
    }
    .loginField {
        flex: 3;
    }
    button {
        font-family: inherit;
    }
}

